# Project exclude paths
/.gradle/
/Minesweeper/task/build/
/Minesweeper/task/out/
/Minesweeper/task/out/production/classes/
/Minesweeper/Battle_/
/Minesweeper/Prepare for battle/
/Minesweeper/Look around you/
/Minesweeper/Lay the groundwork/
/Minesweeper/Flexible mines/
/.idea/modules/Topics/
/Topics/